/* Estilo para los párrafos en la impresión */
p {
    font-weight: normal;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Estilo para la imagen en la impresión */
img {
    max-width: 100%;
}
