/* Cargar estilos para pantallas */
@import url("./screen-styles.css") screen;

/* Cargar estilos para impresión */
@import url("./print-styles.css") print;

/* Estilo común para todos los elementos */
p {
    font-weight: bold;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
